.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}

#main-form {
    padding: 10px;
    text-align: center;
}
.tile {
    margin: 0;
}
.tile-item {
    margin: 2px;
}
.status-buttons {
    margin: 0;
}
.submit-buttons {
    margin: 0;
    padding: 10px 0;
}
.ten {
    margin: 10px;
    text-align: center;
}
#result {
    text-align: center;
}

.flashes li {
    margin-left: -50px;
    border-bottom: 0.5px solid white;
    width: 100vw;
    color: white;
    padding-left: 10px;
}
.success {
    background-color: midnightblue;
}
.failed {
    background-color: deeppink;
}